In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

# Exercise 1
### Preparation for the exercise

In [2]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

### Exercise

Try out these commands to see what they return:

- `data.head()` return the **n first rows** of the DataFrame (5 by default)
- `data.tail(3)` return the **n last rows** of the DataFrame (5 by default)
- `data.shape` return the **(#rows, #columns)** of the DataFrame i.e. the **(cardinality, degree)**

In [3]:
data.head()

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433

In [4]:
data.tail(3)

   patient          phylum  value
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [5]:
data.shape

(8, 3)

# Exercise 2
### Preparation for the exercise

In [6]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

### Exercise

From the `data` table above, create an index to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

In [7]:
# Write your answer here 
print(data)

#instead of looping over the rows we can directly apply the criterium on all of them
print(data.value > 1000)
print(data.phylum.str.endswith('bacteria')) 

data[(data.value > 1000) & (data.phylum.str.endswith('bacteria'))]

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555
0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
Name: value, dtype: bool
0    False
1     True
2     True
3    False
4    False
5     True
6     True
7    False
Name: phylum, dtype: bool

   patient          phylum  value
1        1  Proteobacteria   1638
5        2  Proteobacteria   1130

# Exercise 3
### Preparation for the exercise

In [8]:
baseball = pd.read_csv("Data/baseball.csv", index_col='id')
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

### Exercise

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

In [9]:
# Write your answer here
LAN_and_SFD = baseball[baseball['team'].isin(['LAN', 'SFN'])]
print("They are", LAN_and_SFD.shape[0], "players who played at LAN or SFN")
LAN_and_SFD

They are 15 players who played at LAN or SFN

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89365,sweenma01,2007,2,LAN,NL,30,33,2,9,1,...,3.0,0.0,0.0,1,11.0,0.0,0.0,0.0,0.0,0.0
89366,sweenma01,2007,1,SFN,NL,76,90,18,23,8,...,10.0,2.0,0.0,13,18.0,0.0,3.0,1.0,0.0,0.0
89382,seaneru01,2007,1,LAN,NL,68,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89383,schmija01,2007,1,LAN,NL,6,7,1,1,0,...,1.0,0.0,0.0,0,4.0,0.0,0.0,1.0,0.0,0.0
89431,loaizes01,2007,1,LAN,NL,5,7,0,1,0,...,2.0,0.0,0.0,0,2.0,0.0,0.0,2.0,0.0,1.0
89438,kleskry01,2007,1,SFN,NL,116,362,51,94,27,...,44.0,5.0,1.0,46,68.0,2.0,1.0,1.0,1.0,14.0
89439,kentje01,2007,1,LAN,NL,136,494,78,149,36,...,79.0,1.0,3.0,57,61.0,4.0,5.0,0.0,6.0,17.0
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Exercise 4

### Exercise

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

In [10]:
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Write your answer here
def calculate_OBP(x):
    num = x['h'] + x['bb'] + x['hbp']
    denom = x['ab'] + x['bb'] + x['hbp'] + x['sf']
    if denom == 0:
        return np.NaN # handle 0 division
    else:
        return (num / denom)

baseball['OBP'] = baseball.apply(calculate_OBP, axis=1)
baseball.sort_values(['OBP'], ascending=False)

,player,year,stint,team,lg,g,ab,r,h,X2b,...,sb,cs,bb,so,ibb,hbp,sh,sf,gidp,OBP
id,,,,,,,,,,,,,,,,,,,,,
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.500000
89384,schilcu01,2007,1,BOS,AL,1,2,0,1,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.500000
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.500000
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0,0.480084
89385,sandere02,2007,1,KCA,AL,24,73,12,23,7,...,0.0,1.0,11,15.0,0.0,1.0,0.0,0.0,2.0,0.411765
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0,0.410448
89363,tavarju01,2007,1,BOS,AL,2,4,0,1,0,...,0.0,0.0,1,3.0,0.0,0.0,0.0,0.0,0.0,0.400000
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0,0.391667
89396,ramirma02,2007,1,BOS,AL,133,483,84,143,33,...,0.0,0.0,71,92.0,13.0,7.0,0.0,8.0,21.0,0.388401
89430,loftoke01,2007,1,TEX,AL,84,317,62,96,16,...,21.0,4.0,39,28.0,1.0,2.0,2.0,3.0,5.0,0.379501
89378,sheffga01,2007,1,DET,AL,133,494,107,131,20,...,22.0,5.0,84,71.0,2.0,9.0,0.0,6.0,10.0,0.377740
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0,0.376603
89439,kentje01,2007,1,LAN,NL,136,494,78,149,36,...,1.0,3.0,57,61.0,4.0,5.0,0.0,6.0,17.0,0.375445
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0,0.372671
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0,0.372392
89366,sweenma01,2007,1,SFN,NL,76,90,18,23,8,...,2.0,0.0,13,18.0,0.0,3.0,1.0,0.0,0.0,0.367925
89371,stairma01,2007,1,TOR,AL,125,357,58,103,28,...,2.0,1.0,44,66.0,5.0,2.0,0.0,2.0,7.0,0.367901
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0,0.359316
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0,0.357798
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0,0.351796
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0,0.351738
89438,kleskry01,2007,1,SFN,NL,116,362,51,94,27,...,5.0,1.0,46,68.0,2.0,1.0,1.0,1.0,14.0,0.343902
89429,loftoke01,2007,2,CLE,AL,52,173,24,49,9,...,2.0,3.0,17,23.0,0.0,0.0,4.0,2.0,1.0,0.343750
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0,0.341026
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0,0.338889
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0,0.333333
89411,mussimi01,2007,1,NYA,AL,2,2,0,0,0,...,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.333333
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0,0.332784
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0,0.327869
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0,0.327485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.000000
89410,myersmi01,2007,1,NYA,AL,6,1,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.000000
89370,stantmi02,2007,1,CIN,NL,67,2,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
89372,sprinru01,2007,1,SLN,NL,72,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0,0.000000
89382,seaneru01,2007,1,LAN,NL,68,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000
89388,rogerke01,2007,1,DET,AL,1,2,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.000000
89402,parkch01,2007,1,NYN,NL,1,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89406,oliveda02,2007,1,LAA,AL,5,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89420,mesajo01,2007,1,PHI,NL,38,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89442,jonesto02,2007,1,DET,AL,5,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89450,hoffmtr01,2007,1,SDN,NL,60,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89452,hernaro01,2007,1,CLE,AL,2,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

# Exercise 4.2

### Preparation for the exercise

In [12]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

### Exercise

Try retrieving the value corresponding to `b2` in `Colorado`:

In [13]:
# Write your answer here
int(frame.loc['b', 'Colorado'].iloc[1])

11

# Exercise 5

### Preparation for the exercise

In [14]:
treatment = pd.Series([0]*4 + [1]*2)
data['treatment'] = treatment

data['month'] = ['Jan']*len(data)
data

   patient          phylum  value  treatment month
0        1      Firmicutes    632        0.0   Jan
1        1  Proteobacteria   1638        0.0   Jan
2        1  Actinobacteria    569        0.0   Jan
3        1   Bacteroidetes    115        0.0   Jan
4        2      Firmicutes    433        1.0   Jan
5        2  Proteobacteria   1130        1.0   Jan
6        2  Actinobacteria    754        NaN   Jan
7        2   Bacteroidetes    555        NaN   Jan

### Exercise

Try using the axis argument to drop columns with missing values:

In [15]:
# Write your answer here
data.dropna(axis=0)
# Delete the lines

   patient          phylum  value  treatment month
0        1      Firmicutes    632        0.0   Jan
1        1  Proteobacteria   1638        0.0   Jan
2        1  Actinobacteria    569        0.0   Jan
3        1   Bacteroidetes    115        0.0   Jan
4        2      Firmicutes    433        1.0   Jan
5        2  Proteobacteria   1130        1.0   Jan

In [16]:
# Write your answer here
data.dropna(axis=1) # or data.dropna(axis='columns')
# Delete the columns

   patient          phylum  value month
0        1      Firmicutes    632   Jan
1        1  Proteobacteria   1638   Jan
2        1  Actinobacteria    569   Jan
3        1   Bacteroidetes    115   Jan
4        2      Firmicutes    433   Jan
5        2  Proteobacteria   1130   Jan
6        2  Actinobacteria    754   Jan
7        2   Bacteroidetes    555   Jan

# Advanced Exercise

The Data/ebola folder contains summarized reports of Ebola cases from three countries during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

From these data files, use pandas to import them and create a single data frame that includes the daily totals of new cases and deaths for each country.

## For this exercise, we split the first processing of the data by the three countries

## We first start with Guinea

In [17]:
# This small code is just to test the data
file = 'Data/ebola/guinea_data/2014-08-04.csv'

# Read the data
data = pd.read_csv(file, parse_dates=True, dayfirst=True).fillna(0)
# Take the date
date = data['Date'][0]
print(date)
# Drop the Date column and change the index to be the column Description
data.drop(['Date'], axis=1, inplace=True)
data.index = data['Description']
data.drop(['Description'], axis=1, inplace=True)
if 'New deaths registered today' not in data.index:
    death = int(data['Totals'].loc[['New deaths registered']])
else:
    death = int(data['Totals'].loc[['New deaths registered today']])

case = int(data['Totals'].loc[['Total new cases registered so far']])
    
print(death)
print(case)

2014-08-04
2
9

### Code to deal with all the files in the guinea_data folder

In [18]:
import os

# List the files for Guinea
basepath = 'Data/ebola/guinea_data/'

# Empty dic
guinea = {}
# Arrays for date, new cases and new deaths
date = []
new_cases = []
new_deaths = []

# Go through all the files
for fname in os.listdir(basepath):
    if 'lock' not in fname:
        #print(fname)
        path = os.path.join(basepath, fname)
        # Load the data
        data = pd.read_csv(path, parse_dates=True, dayfirst=True).fillna(0)
        # Get the date
        date.append(data["Date"][0])
        # Drop the Date column and change the index to be the column Description
        data.drop(['Date'], axis=1, inplace=True)
        data.index = data['Description']
        data.drop(['Description'], axis=1, inplace=True)
        # Get the new cases
        new_cases.append(int(data['Totals'].loc[['Total new cases registered so far']]))
        # Get the new deaths
        if 'New deaths registered today' not in data.index:
            new_deaths.append(int(data['Totals'].loc[['New deaths registered']]))
        else:
            new_deaths.append(int(data['Totals'].loc[['New deaths registered today']]))        
    
mat = np.column_stack((new_cases, new_deaths)) 
guinea_frame = pd.DataFrame(mat, columns = [["Guinea", "Guinea"], ["New cases", "New deaths"]])
guinea_frame.index = date
guinea_frame.index.name = "Date"
guinea_frame.head()

              Guinea
           New cases New deaths
Date
2014-08-27        22          2
2014-09-07        16          4
2014-09-23        29          3
2014-09-04        30          5
2014-09-16        10          3

## Now, we take care of the data from the Sierra Leone

In [19]:
# This small code is just to test the data
file = 'Data/ebola/sl_data/2014-08-23-v88.csv'

# Read the data
data = pd.read_csv(file, parse_dates=True, dayfirst=True).fillna(0)
# Take the date
date = data['date'][0]
print(date)
# Drop the Date column and change the index to be the column Description
data.drop(['date'], axis=1, inplace=True)
data.index = data['variable']
data.drop(['variable'], axis=1, inplace=True)
data
case = data['National'].loc[['new_noncase', 'new_suspected', \
                                 'new_probable', 'new_confirmed']]
death = data['National'].loc[['death_suspected', 'death_probable', \
                              'death_confirmed']]

print(case.astype(int).sum())
print(death.astype(int).sum())

2014-08-23
33
381

### Code to deal with all the files in the sl_data folder

In [20]:
# List the files for Sierra Leone
basepath = 'Data/ebola/sl_data/'

# Empty dic
sierra_leone = {}
# Arrays for date, new cases and new deaths
date = []
new_cases = []
new_deaths = []

# Go through all the files
for fname in os.listdir(basepath):
    if "lock" not in fname:
        #print(fname)
        path = os.path.join(basepath, fname)
        # Load the data
        data = pd.read_csv(path, parse_dates=True, dayfirst=True).fillna(0)
        # Get the date
        date.append(data["date"][0])
        # Drop the Date column and change the index to be the column Description
        data.drop(['date'], axis=1, inplace=True)
        data.index = data['variable']
        data.drop(['variable'], axis=1, inplace=True)
        # Get the new cases
        new_cases.append(data['National'].loc[['new_noncase', \
                            'new_suspected', 'new_probable', \
                            'new_confirmed']].astype(int).sum())
        # Get the new death
        new_deaths.append(data['National'].loc[['death_suspected', \
                            'death_probable', 'death_confirmed']] \
                             .astype(int).sum()) 
        
mat = np.column_stack((new_cases, new_deaths)) 
sierra_leone_frame = pd.DataFrame(mat, columns = [["Sierra Leone", "Sierra Leone"], ["New cases", "New deaths"]])
sierra_leone_frame.index = date
sierra_leone_frame.index.name = "Date"
sierra_leone_frame.head()

           Sierra Leone
              New cases New deaths
Date
2014-10-07          209        885
2014-08-23           33        381
2014-09-12            0          0
2014-08-16           30        336
2014-08-24           44        386

## Now, we take care of the data from the Liberia

In [21]:
# This small code is just to test the data
file = 'Data/ebola/liberia_data/2014-06-16.csv'

# Read the data
data = pd.read_csv(file, parse_dates=True, dayfirst=True).fillna(0)
# Take the date (00:00:00 is present all the time, we have to remove it)
date = str(pd.to_datetime(data['Date'][0])).replace(' 00:00:00', '')
print(date)
# Drop the Date column and change the index to be the column Variable
data.drop(['Date'], axis=1, inplace=True)
data.index = data['Variable']
data.drop(['Variable'], axis=1, inplace=True)
data
case = data['National'].loc[['New Case/s (Suspected)', \
                             'New Case/s (Probable)', \
                             'New case/s (confirmed)']]
death = data['National'].loc[['Newly reported deaths']]

print(case.astype(int).sum())
print(int(death))

2014-06-16
4
2

### Code to deal with all the files in the liberia_data folder

In [22]:
# List the files for Liberia
basepath = 'Data/ebola/liberia_data/'

# Empty dic
liberia = {}
# Arrays for date, new cases and new deaths
date = []
new_cases = []
new_deaths = []

# Go through all the files
for fname in os.listdir(basepath):
    if "lock" not in fname:
        path = os.path.join(basepath, fname)
        # Load the data
        data = pd.read_csv(path, parse_dates=True, dayfirst=True).fillna(0)
        # Get the date 
        # Default format is different from Guinea and Sierra Leone =>
        # We change the format back to the usual one. We also have to 
        # replace the 00:00:00 coming from the change of format
        date.append(str(pd.to_datetime(data['Date'][0])).replace(' 00:00:00', ''))
        # Drop the Date column and change the index to be the column Variable
        data.drop(['Date'], axis=1, inplace=True)
        data.index = data['Variable']
        data.drop(['Variable'], axis=1, inplace=True)
        # Get the new cases
        new_cases.append(data['National'].loc[['New Case/s (Suspected)', \
                             'New Case/s (Probable)', \
                             'New case/s (confirmed)']].astype(int).sum()) 
        # Get the new deaths
        new_deaths.append(int(data['National'].loc[['Newly reported deaths']]))
        

mat = np.column_stack((new_cases, new_deaths)) 
liberia_frame = pd.DataFrame(mat, columns = [["Liberia", "Liberia"], ["New cases", "New deaths"]])
liberia_frame.index = date
liberia_frame.index.name = "Date"
liberia_frame.head()

             Liberia
           New cases New deaths
Date
2014-07-24        32          6
2014-10-04        42         43
2014-09-28        24          4
2014-08-02        11         13
2014-11-23         7          0

### Now, we merge the 3 frames together and we fill the NA with 0

In [23]:
ebola = liberia_frame.add(guinea_frame, fill_value=0)
ebola = ebola.add(sierra_leone_frame, fill_value=0)
ebola

              Guinea              Liberia            Sierra Leone
           New cases New deaths New cases New deaths    New cases New deaths
Date
2014-06-16       NaN        NaN       4.0        2.0          NaN        NaN
2014-06-17       NaN        NaN       2.0        0.0          NaN        NaN
2014-06-22       NaN        NaN      10.0        4.0          NaN        NaN
2014-06-24       NaN        NaN       6.0        4.0          NaN        NaN
2014-06-25       NaN        NaN       7.0        3.0          NaN        NaN
2014-06-28       NaN        NaN       9.0        1.0          NaN        NaN
2014-06-29       NaN        NaN       2.0        0.0          NaN        NaN
2014-07-01       NaN        NaN       4.0        5.0          NaN        NaN
2014-07-02       NaN        NaN       4.0        5.0          NaN        NaN
2014-07-03       NaN        NaN       4.0        4.0          NaN        NaN
2014-07-07       NaN        NaN       7.0        2.0          NaN        NaN
2014-07-08       NaN        NaN       3.0        2.0          NaN        NaN
2014-07-10       NaN        NaN       3.0        4.0          NaN        NaN
2014-07-13       NaN        NaN       5.0        3.0          NaN        NaN
2014-07-17       NaN        NaN      10.0        3.0          NaN        NaN
2014-07-20       NaN        NaN       3.0        4.0          NaN        NaN
2014-07-24       NaN        NaN      32.0        6.0          NaN        NaN
2014-07-26       NaN        NaN      19.0        9.0          NaN        NaN
2014-08-02       NaN        NaN      11.0       13.0          NaN        NaN
2014-08-04       9.0        2.0      10.0        7.0          NaN        NaN
2014-08-12       NaN        NaN      60.0       29.0         26.0      303.0
2014-08-13       NaN        NaN       NaN        NaN         32.0      312.0
2014-08-14       NaN        NaN       NaN        NaN         41.0      319.0
2014-08-15       NaN        NaN      19.0       17.0         32.0      326.0
2014-08-16       NaN        NaN       NaN        NaN         30.0      336.0
2014-08-17       NaN        NaN      24.0       11.0         16.0      344.0
2014-08-18       NaN        NaN      56.0       30.0         60.0      351.0
2014-08-19       NaN        NaN       NaN        NaN         46.0      359.0
2014-08-20       NaN        NaN      65.0       23.0          9.0      361.0
2014-08-21       NaN        NaN       NaN        NaN         17.0      371.0
...              ...        ...       ...        ...          ...        ...
2014-11-08       NaN        NaN      28.0       14.0        320.0     1498.0
2014-11-10       NaN        NaN       NaN        NaN        239.0     1514.0
2014-11-12       NaN        NaN       NaN        NaN        196.0     1534.0
2014-11-13       NaN        NaN       NaN        NaN         84.0     1545.0
2014-11-14       NaN        NaN      20.0       20.0          0.0        0.0
2014-11-15       NaN        NaN      39.0       12.0         54.0     1571.0
2014-11-16       NaN        NaN       NaN        NaN         89.0     1588.0
2014-11-17       NaN        NaN       NaN        NaN         53.0     1588.0
2014-11-18       NaN        NaN       NaN        NaN         43.0     1605.0
2014-11-19       NaN        NaN      36.0       21.0          0.0        0.0
2014-11-20       NaN        NaN      40.0       30.0        343.0     1648.0
2014-11-21       NaN        NaN      37.0       14.0        161.0     1669.0
2014-11-22       NaN        NaN       NaN        NaN        182.0     1699.0
2014-11-23       NaN        NaN       7.0        0.0        183.0     1730.0
2014-11-24       NaN        NaN      25.0       15.0        332.0     1763.0
2014-11-26       NaN        NaN      28.0       21.0          NaN        NaN
2014-11-27       NaN        NaN      46.0       16.0          NaN        NaN
2014-11-28       NaN        NaN       7.0        0.0        253.0     1847.0
2014-11-29       NaN        NaN      21.0        7.0        204.0     1862.0
2014-11-30       NaN        NaN      10.0        0.0          NaN        NaN
2014-12-01       NaN        NaN      35.0        0.0        228.0     1915.0
2014-12-02       NaN        NaN      37.0        0.0          NaN        NaN
2014-12-03       NaN        NaN       0.0        0.0          NaN        NaN
2014-12-04       NaN        NaN    7721.0        0.0        157.0     2014.0
2014-12-05       NaN        NaN    7731.0        0.0        294.0     2035.0
2014-12-06       NaN        NaN    7735.0        0.0          0.0     2074.0
2014-12-07       NaN        NaN    7765.0        0.0          NaN        NaN
2014-12-08       NaN        NaN    7786.0        0.0          NaN        NaN
2014-12-09       NaN        NaN    7797.0        0.0          NaN        NaN
2014-12-13       NaN        NaN       NaN        NaN          0.0        0.0

[135 rows x 6 columns]