In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

%matplotlib inline
%load_ext autoreload
%autoreload 2

# There's a lot of columns in the DF. 
# Therefore, we add this option so that we can see more columns
pd.options.display.max_columns = 100

# Data Analysis and Cleaning

In this notebook, we will try to clean and analyse the data before applying the Machine Learning algorithm. 

First, we need to load the data.

In [2]:
df = pd.read_csv('./data/CrowdstormingDataJuly1st.csv')
print(df.shape)
df.head(10)

(146028, 28)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,1,0,0,1,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,0,0,0,0,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,0,0,0,0,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0,0,0,0,16528.jpg,0.25,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0,0,0,0,36499.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

As it is explained in the Data Description (see `Data.md` in the *data* folder), the data are in a format called referee-player dyads. In other terms, each row is a dyad between a player and a referee, *i.e.* interaction between a player and a referee. 

## Clean the NaNs values for the colors of players

Let's print the columns and the size;

In [3]:
print(df.columns)
print(df.shape)

Index(['playerShort', 'player', 'club', 'leagueCountry', 'birthday', 'height',
       'weight', 'position', 'games', 'victories', 'ties', 'defeats', 'goals',
       'yellowCards', 'yellowReds', 'redCards', 'photoID', 'rater1', 'rater2',
       'refNum', 'refCountry', 'Alpha_3', 'meanIAT', 'nIAT', 'seIAT',
       'meanExp', 'nExp', 'seExp'],
      dtype='object')
(146028, 28)

First, we can clean the skin color columns. To do so, we remove all the lines with NaN in *rater1* and *rater2* columns.

In [4]:
df = df.dropna(subset=['rater1', 'rater2'])
print(df.shape)
df.head(10)

(124621, 28)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0,0,0,0,16528.jpg,0.25,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0,0,0,0,36499.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,0,0,0,1,0,0,59786.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
11,ashkan-dejagah,Ashkan Dejagah,Fulham FC,England,05.07.1986,181.0,74.0,Left Winger,1,1,0,0,0,0,0,0,23229.jpg,0.50,0.50,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
12,benedikt-hoewedes,Benedikt Höwedes,FC Schalke 04,Germany,29.02.1988,187.0,80.0,Center Back,1,1,0,0,0,0,0,0,59387.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

In [5]:
# Check for other null values
df.isnull().any()

playerShort      False
player           False
club             False
leagueCountry    False
birthday         False
height            True
weight            True
position          True
games            False
victories        False
ties             False
defeats          False
goals            False
yellowCards      False
yellowReds       False
redCards         False
photoID          False
rater1           False
rater2           False
refNum           False
refCountry       False
Alpha_3           True
meanIAT           True
nIAT              True
seIAT             True
meanExp           True
nExp              True
seExp             True
dtype: bool

We can see here that there are a lot of columns with Nans values. But we will deal with them later. =)

## Create the skin_colour column

We define the skin_colour column as the mean of the *rater1* and *rater2* columns.

In [10]:
df['skin_colour'] = df[['rater1', 'rater2']].mean(axis=1)
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp,skin_colour
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696,0.375
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504,0.750
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0.125
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0.125
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,1.000

We can remove the columns *rater1* and *rater2*

In [12]:
df = df.drop(['rater1', 'rater2'], axis=1)
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,photoID,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp,skin_colour
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0,0,0,95212.jpg,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696,0.375
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1,0,0,1663.jpg,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504,0.750
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0,0,0,3868.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0.125
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0,0,0,47704.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0.125
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0,0,0,22356.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752,1.000

In [20]:
# Just check the unique values for the skin_colour column
unique_colours = df['skin_colour'].unique()
unique_colours

array([ 0.375,  0.75 ,  0.125,  1.   ,  0.25 ,  0.   ,  0.5  ,  0.875,
        0.625])

This means that we have the 5 values for the colour plus the values in-between.

## Remove other columns

Now, we want to remove some useless columns.

In [13]:
print(df.columns)

Index(['playerShort', 'player', 'club', 'leagueCountry', 'birthday', 'height',
       'weight', 'position', 'games', 'victories', 'ties', 'defeats', 'goals',
       'yellowCards', 'yellowReds', 'redCards', 'photoID', 'refNum',
       'refCountry', 'Alpha_3', 'meanIAT', 'nIAT', 'seIAT', 'meanExp', 'nExp',
       'seExp', 'skin_colour'],
      dtype='object')

We can remove the foloowing columns:
- *photoID*: We don't need it since we don't have the picture. =)
- *refNum*: We will aggregate the values with the name of the player.
- *refCountry*: We will aggregate the values with the name of the player.
- *Alpha_3*: We will aggregate the values with the name of the player.

We can also remove all the following columns since they concern only a specific referee:
- *meanIAT*
- *nIAT*
- *seIAT*
- *meanExp*
- *nExp*
- *seExp*

**We are maybe removing too much columns. So, we will have to decide if we keep them (if we don't aggregate for example). Or we can also scrap some website with stats on football players to get more stats on them**

In [23]:
col_to_remove = ['photoID', 'refNum', 'refCountry', 'Alpha_3', 'meanIAT', 'nIAT', 'seIAT', 'meanExp', 'nExp', 'seExp']
df = df.drop(col_to_remove, axis=1)

In [24]:
print(df.shape)
df.head(10)

(124621, 17)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,skin_colour
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0,0,0,0.375
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1,0,0,0.750
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0,0,0,0.125
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0,0,0,0.125
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0,0,0,1.000
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0,0,0,0,0.250
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0,0,0,0,0.000
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,0,0,0,1,0,0,0.000
11,ashkan-dejagah,Ashkan Dejagah,Fulham FC,England,05.07.1986,181.0,74.0,Left Winger,1,1,0,0,0,0,0,0,0.500
12,benedikt-hoewedes,Benedikt Höwedes,FC Schalke 04,Germany,29.02.1988,187.0,80.0,Center Back,1,1,0,0,0,0,0,0,0.000

We now have 17 columns. We can now aggregate on the name of the players.

## Aggregation of the table

First, let's check the number of different players.

In [29]:
print("Total number of players: ", len(df['player'].unique()))b

Total number of players:  1572

In [41]:
unique_players = df['player'].unique()

In [79]:
df_players = pd.DataFrame([], columns = df.columns)
df_players.head()

Empty DataFrame
Columns: [playerShort, player, club, leagueCountry, birthday, height, weight, position, games, victories, ties, defeats, goals, yellowCards, yellowReds, redCards, skin_colour]
Index: []

In [85]:
# Values we want to sum
summed = ['games', 'victories', 'ties', 'defeats', 'goals', 
          'yellowCards', 'yellowReds', 'redCards']

idx = 0
for plyr in unique_players:
    # Get all entries with the same player
    df_player = df[df['player'] == plyr]
    df_player.index = np.arange(len(df_player))
    # Sum the numbers
    sum_values = df_player.sum(numeric_only=True)

    # Create the array for the player
    array_player = []
    for i in df.columns:
        if i in summed:
            array_player.append(sum_values[i])
        else:
            array_player.append(df_player[i][0])  
    
    # Add player to new DF
    df_players.loc[idx] = array_player
    idx += 1

In [95]:
df_players.tail()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,skin_colour
1567,wesley-jobello,Wesley Jobello,Olympique Marseille,France,23.01.1994,179.0,68.0,Left Winger,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.750
1568,jerome-sinclair,Jerome Sinclair,Liverpool FC,England,20.09.1996,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.750
1569,momar-bangoura,Momar Bangoura,Olympique Marseille,France,24.02.1994,176.0,65.0,Defensive Midfielder,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.875
1570,kevin-osei,Kevin Osei,Olympique Marseille,France,26.03.1991,173.0,71.0,NaN,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.750
1571,baptiste-aloe,Baptiste Aloe,Olympique Marseille,France,29.06.1994,184.0,77.0,Center Back,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.250

Now, we can save this first DataFrame.

In [87]:
df_players.to_csv('./data/players.csv')

## Let's check the remaining NaN

In [88]:
print("Percentage of people removed if we drop all na: ", 100*(1-df_players.dropna().shape[0]/df_players.shape[0]), "%%")

Percentage of people removed if we drop all na:  10.559796437659031 %%

Let's check the NA columns

In [89]:
df_players.isnull().any()

playerShort      False
player           False
club             False
leagueCountry    False
birthday         False
height            True
weight            True
position          True
games            False
victories        False
ties             False
defeats          False
goals            False
yellowCards      False
yellowReds       False
redCards         False
skin_colour      False
dtype: bool

In [101]:
# Take someone with NA
df_players[df_players['height'] != df_players['height']]

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,skin_colour
1265,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,58.0,29.0,12.0,17.0,6.0,8.0,0.0,1.0,0.25
1381,loic-abenzoar,Loïc Abenzoar,Olympique Lyon,France,14.02.1989,NaN,NaN,Right Fullback,12.0,0.0,3.0,9.0,0.0,2.0,0.0,0.0,0.75
1568,jerome-sinclair,Jerome Sinclair,Liverpool FC,England,20.09.1996,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.75

In [102]:
# Let's check in the BIG DF
df[df['player'] == 'Filip Malbašić']

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,skin_colour
3788,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
14798,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,1,0,1,0,1,0,0,0.25
15152,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
20147,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
20210,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
29617,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,0,2,0,0,1,0,0,0.25
34467,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
34652,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,1,0,0,0.25
34658,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,1,0,1,0,0,0,0,0.25
34966,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,4,2,2,0,0,0,0,0,0.25
37658,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,4,4,0,0,1,0,0,0,0.25
37688,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,1,0,1,0,0,0,0,0.25
37867,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
60191,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
61322,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,0,2,0,0,0,0,0,0.25
79546,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,1,0,0,0,0,0,0.25
82245,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,3,1,1,1,0,0,0,0,0.25
88284,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,2,0,0,0,0,0,0,0.25
95427,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
99320,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
99327,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,0,0,2,1,2,0,0,0.25
99447,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,2,0,0,0,0,0,0,0.25
99724,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,3,1,1,1,0,0,0,0,0.25
103045,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,2,1,1,0,0,2,0,0,0.25
103370,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,3,1,0,2,1,0,0,0,0.25
104056,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,1,0,0,0,0.25
105935,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,1,0,0,0,0.25
113362,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
126559,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
127601,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,1,0,0,0,0,0,0.25
127751,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,0,0.25
133999,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,0,1,0,0,0,0,0.25
142421,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,1,0,0,0,0,0,1,0.25
142715,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,3,3,0,0,1,1,0,0,0.25
145307,filip-malbasic,Filip Malbašić,1899 Hoffenheim,Germany,18.11.1992,NaN,NaN,Left Winger,1,0,1,0,0,0,0,0,0.25

We see that the values are always missing. Therefore, we remove the players with the missing values.

In [104]:
df_players_no_nan = df_players.dropna()

In [105]:
# Check for null values
df_players_no_nan.isnull().any()

playerShort      False
player           False
club             False
leagueCountry    False
birthday         False
height           False
weight           False
position         False
games            False
victories        False
ties             False
defeats          False
goals            False
yellowCards      False
yellowReds       False
redCards         False
skin_colour      False
dtype: bool

No more null values. =)

Therefore, we can save this new csv.

In [106]:
df_players_no_nan.to_csv('./data/players_no_nan.csv')

## Cross-Featuring

We can introduce some cross-features with the features we removed. We know for example that the columns with
- **IAT** refer to the **race IAT test**, *i.e.* a high value correspond to someone who will prefer a white person (thinks it's a better person) over a black person.
- **Exp** refer to the use of a **racial thermometer task**, *i.e.* a high value correspond to greater feelings of warmth toward whites versus blacks.

If we want to keep these information, we can use the cross these information with the yellow and red cards. 

-> Still need reflexion how to keep these values.